@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Workers.Resource> Resource
@model WorkersModel

@{
    ViewData["Title"] = "Delete";
}

<link type="text/css" rel="stylesheet" href='@Url.Content("~/css/Delete.css")' />
<div class="hh">
    <h1>@Resource["Delete"]</h1>
</div>
<h3>@Resource["Are you sure?"]</h3>
<hr />
<div class="form">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Culture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Culture)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" Delete>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Resource["Delete"] class="button" /> |
        <a asp-action="Index">@Resource["Back to List"]</a>
    </form>
</div>
