@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Workers.Models.WorkersModel>
@inject IHtmlLocalizer<Workers.Resource> Resource
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{ // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
    var items = new List<SelectListItem>();
    foreach (var item in cultureItems)
    {
        if (item.Text == ViewBag.CurrentCulture) item.Selected = true;

    } }

@{ ViewData["Title"] = "Index"; }



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href='@Url.Content("~/css/Index.css")' />
</head>
<body>
    <div class="WorkerLogin">
        <h1> @ViewBag.Message</h1><hr />
    </div>

    <table class="table">
        <caption>@Resource["Workers List"]</caption>
        <tr>

            <th>@Resource["Name"]</th>

            <th>@Resource["Surname"]</th>

            <th>@Resource["Birthday"]</th>

            <th>@Resource["Role"]</th>

        </tr>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Name</td>
    <td>@item.Surname</td>
    <td>@item.Birthday</td>
    <td>@item.Role</td>
    <td><a asp-action="Details" asp-controller="WorkersModels" asp-route-id="@item.Id">@Resource["Details"]</a></td>
    <td><a asp-action="Edit" asp-controller="WorkersModels" asp-route-id="@item.Id">@Resource["Edit"]</a></td>
    <td><a asp-action="Delete" asp-controller="WorkersModels" asp-route-id="@item.Id">@Resource["Delete"]</a></td>
</tr>
}
    </table>
</body>
</html>
