@model Workers.Models.WorkersModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Workers.Resource> Resource
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{ // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
    var items = new List<SelectListItem>();
    foreach (var item in cultureItems)
    {
        if (item.Text == ViewBag.CurrentCulture) item.Selected = true;

    } }

@{
    ViewData["Title"] = Resource["Create"];
}


<link type="text/css" rel="stylesheet" href='@Url.Content("~/css/registration.css")' />
<form class="lang" asp-controller="WorkersModels" asp-action="SetLanguage" style="margin-top:15px; margin-right: 0px; margin-left:300px"
      asp-route-returnUrl="@Context.Request.Path"
      method="post" >
    @Resource["Language"]: <select class="cult" name="culture" onchange="this.form.submit();"
                                   asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                   asp-items="cultureItems"></select>
</form>
<div class="body1">

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Registration" class="form2">

                <h1>@Resource["Create new worker"]</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="textbox">
                    <label asp-for="Role">@Resource["Role"]:</label>
                    <select class="sel" asp-for="Role">
                        <option>@Resource["Admin"]</option>
                        <option>@Resource["Worker"]</option>
                    </select>
                </div>
                <div class="form_group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form_input" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form_group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form_input" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form_group">
                    <label asp-for="Birthday" class="control-label"></label>
                    <input asp-for="Birthday" class="form_input" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                <div class="form_group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form_input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form_group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form_input" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form_group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form_input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form_group">
                    <label asp-for="Place" class="control-label"></label>
                    <input asp-for="Place" class="form_input" />
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>
                <div class="form_group">
                    <input type="submit" value=@Resource["Create"] class="form_button" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

